Library/
obj/
Temp/UnityLockfile
Temp/UnityTempFile-8c1e86bba0a0fa34da93bfe67f2e1700
Temp/UnityTempFile-fca1eab76ebc75247a579707cc7d8261
Temp/__Backupscenes/0.backup
Temp/
TeamPleDiaH.sln
Assets/Resources/DropItems.meta
